* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Poppins', sans-serif;
    background-color: #0d0d0df6;
    color: #e7d8d8;
    }

  .layout{
    display: flex;
    flex-direction: column;
  }

.header {
  width: 100vw;
  height: 8rem;
  background-color: #0D0D0D;
  color: #838383;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2.5rem;
}

.header img {
  flex: 0;
  width: 5.625rem;
  height: auto;
  top: 4.5rem;
  left: 41rem;
  user-select: none;
}

.infos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  user-select: none;
}

#input_adicionar {
  width: 40%;
  transform: translate(0, -1.25rem);
  border: 1px solid;
  font-size: 0.5rem;
  background-color: #262626;
  color: #f5e7e7;
  padding: 0.625rem;
  border-radius: 0.25rem;
  outline: none;
  border-color: #262626;
}

#input_adicionar::placeholder {
  color: #f5e7e7b9;
}

 #input_adicionar:hover{
  border-color: #8284FA;
 }

#button_criar {
  width: 2.8125rem;
  transform: translate(0, -1.25rem);
  background-color: #1E6F9F;
  border: none;
  font-size: 0.5rem;
  padding: 0.5625rem;
  padding-right: 0.9375rem;
  color: #d4dfe6;
  border-radius: 0.25rem;
  transition: transform 0.3s ease, color 0.3s ease;
 }

#button_criar img {
  margin-left: 0.1875rem;
  position: fixed;
  transform: translate(0, 0.03125rem);
  width: 0.5rem;
}

 #button_criar:hover{
  background-color: #2694d3;
  transform: translate(0, -1.3125rem);
}

 .num_tarefas{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.625rem;
  user-select: none;
  gap: 20rem; 
  padding: 0.25rem;  
  justify-content: center; 
}

.criadas {
  color: #1E6F9F;
  display: flex;
  gap: 0.5rem;
}

.concluidas {
  display: flex;
  gap: 0.5rem;
  color: #8284FA;
}

#barra{
  display: flex;
  width: 100%;
  align-self: center ;
  justify-content: center;
  margin-bottom: 0.625rem;
}

 #barra hr{
  border-color: #585454a6;
  box-sizing: border-box;
  width: 50%;
 }

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.625rem;
  color: #868686;
  user-select: none;
}

 .background.close{
  display: none;
 }

.background img {
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 3.125rem;
  margin-bottom: 1.5625rem;
}

 .taks.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

.tasks{
  display: flex;
  align-items: center;
  width: 45%;
  border: 1px solid;
  font-size: 0.5rem;
  background-color: #262626;
  color: #f5e7e7;
  padding: 1.25rem;
  border-radius: 0.4375rem;
  border-color: #262626;
  margin-left: 18.75rem;
  margin-bottom: 0.625rem;
  gap: 0.625rem;
  box-sizing: border-box;
  overflow: hidden;
}

.tasks p{
  word-break:break-all;
  flex: 1;
  margin: 0;
}

.task-text.riscado {
  text-decoration: line-through;
  color: #888585f6;
}

.task-checkbox{
  all: unset;
  border: 0.09375rem solid #1E6F9F;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 0.4375rem;
  display: inline-block;
  transition: background 0.3s;
}

.task-checkbox:checked {
  width: 0.75rem;
  height: 0.75rem;
  transition: background 0.3s;
  background-color: #8284FA;
  border: none;
}


.apagar{
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.apagar img {
  width: 0.625rem;
}

.apagar:hover {
  transform: scale(1.1);
}


