* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Poppins', sans-serif;
    background-color: #0d0d0df6;
    color: #e7d8d8;
    }

  .layout{
    display: flex;
    flex-direction: column;
  }

  .header{
    width: 100vw;
    height: 130px;
    background-color: #0D0D0D;
    color: #838383;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
  }

  .header img{
    flex: 0;
    width: 90px;
    height: auto;
    top: 72px;
    left: 657px;
    user-select: none;
    
  }

  .infos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    user-select: none;
  }

  #input_adicionar{
    width: 40%;
    transform: translate(0, -20px);
    border: 1px solid;
    font-size: 8px;
    background-color:#262626;
    color: #f5e7e7;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border-color: #262626 ;
  }
    
 #input_adicionar::placeholder{
  color:#f5e7e7b9;
 }

 #input_adicionar:hover{
  border-color: #8284FA;
 }

 #button_criar{
  width: 45px;
  transform: translate(0, -20px);
  background-color: #1E6F9F;
  border: none;
  font-size: 8px;
  padding: 9px;
  padding-right: 15px;
  color: #d4dfe6;
  border-radius: 4px;
  transition: transform 0.3s ease, color 0.3s ease;
 }


 #button_criar img{
  margin-left: 3px ;
  position:fixed;
  transform: translate(0, 0.5px);
  width:8px;
 }

 #button_criar:hover{
  background-color: #2694d3;
  transform: translate(0, -21px);

 }

 .num_tarefas{
  display: flex;
  gap: 300px;
  margin-left: 300px;
  margin-top: 30px;
  font-size: 10px;
  user-select: none;
 }

 .criadas{
    color: #1E6F9F;
    display: flex;
    gap: 8px;
 }

 .concluidas{
   display: flex;
   gap: 8px;
   color: #8284FA;
 }

#barra{
  display: flex;
  width: 100%;
  align-self: center ;
  justify-content: center;
  margin-bottom: 10px;
}

 #barra hr{
  border-color: #585454a6;
  box-sizing: border-box;
  width: 50%;
 }

 .background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: #868686;
    user-select: none;
 }

 .background.close{
  display: none;
 }

 .background img{
  width: 56px;
  height: 56px;
  margin-top: 50px;
  margin-bottom: 25px;
 }

 .taks.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

.tasks{
  display: flex;
  align-items: center;
  width: 45%;
  border: 1px solid;
  font-size: 8px;
  background-color:#262626;
  color: #f5e7e7;
  padding: 20px;
  border-radius: 7px;
  border-color: #262626 ;
  margin-left: 300px;
  margin-bottom: 10px;
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.tasks p{
  word-break:break-all;
  flex: 1;
  margin: 0;
}

.taks-text{
  text-decoration: line-through;
}


.apagar{
  background: none;
  border: none;
  cursor: pointer;
  transition: trasform .3s;
}

.apagar img{
  width: 10px;
}

.apagar:hover{
  transform: scale(1.1);
}


